body {
    text-align: center;
  font-size: larger;
  font-family: 'Courier New', Courier, monospace;
  margin: 0px;
  color: white;
}

.top-container {
    background-color: rgb(154, 6, 128);
}

.skills {
    background-color: rgb(121, 1, 140);
    padding-bottom: 450px;
}

    .skill-row {
    width: 700px;
    margin: auto;
    }

.contact-me {
    background-color: rgb(22, 0, 64);
    
}

.skill-3 {
    background-color: rgb(76, 0, 112);
    
}

.bottom-container {  
    background-color: black;
   padding-bottom: 100px;
   color: yellow;
   padding-top: 100px;
}

.footer-link {
    color: yellow;
}